
		
		
		<!-- Page Content -->
		
		<section class="about" id="about">
			<div class="container-fluid">
				<div class="row text-center">
					<header class="jumbotron mainHead">
						<h1>{{{title}}}</h1>
						<p>Is this a treasure hunt?</p>
					</header>
					<article class="section-content">
						<div class="services">
							{{#each rests}}
							<div class="col-lg-3 col-md-3">
								<div class="service-item">
									<p class="text-capitalize text-primary">{{this.item.0.name}}
									{{#with this.item}}
									<small class="pull-right">${{this.0.price}}</small>{{/with}}
									</p>
									<p><small class="text-success pull-left" style="text-blink:200">available at</small><br> <span class="text-danger">{{this.name}}<br></span>
									<small class="text-lowercase text-muted">{{this.location.description}}</small>
									</p>
								</div>
							</div>
								{{/each}}
						</div>
					</article>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		
		
